<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" prefix="og: http://ogp.me/ns#"  lang="en-IN">
    <head>
      <link rel="stylesheet" href="{% static 'style.css'%}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Live Cricket | Oncline Scoring | player Profiles</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <script src="{% static 'js/jquery.min.js'%}"></script> 
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/app.js'%}"></script>
        <meta name="description" content="We craft awesome Bootstrap themes for free and share selected resources for web designer &amp; developer. Download Free HTML themes for Bootstrap" /> 
        <link href="{% static 'img/logo_icon_96dp.png'%}" rel="apple-touch-icon" sizes="96x96">
        <link href="{% static 'img/logo_icon_96dp.png'%}" rel="icon" sizes="96x96" type="image/png">
        <link href="{% static 'img/logo_icon_32dp.png'%}" rel="icon" sizes="32x32" type="image/png">
        <meta content="{% static 'img/logo_icon_96dp.png'%}" name="msapplication-TileImage">
        
        <meta property="og:url" content="https://www.boostraptheme.com/demo/index.html" />
        <meta property="og:title" content="Free Bootstrap Template" />
        <meta property="og:locale" content="en_IN" /> 
        <meta property="og:site_name" content="Boostraptheme" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="BoostrapTheme" />
        <meta name="twitter:creator" content="BoostrapTheme" />

        <link rel='stylesheet' href="{% static 'font-awesome/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/app.css'%}">
      <style>
      .crick-header{
        color:green !important;
        padding:10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    </style>
    {% block head %}
    {% endblock %}
    </head>

    <body class='bg-light'>

        <!-- TOPNAVBAR 
            =================-->
            <div class="topmenu">
              <div class="container-fluid">
                <div class="row"  id="page-top">
                  <div class="col-md-6 col-sm-6"> 
                     <div class="info">Live Cricket </div>
                  </div>   
                  <div class="col-md-6 sec col-sm-6">  
                  	<div class="social"> 
                  		<ul>
                  			<li>Social Corner </li>
                  			<li><a href=""><i class="fa fa-facebook"></a></i></li>
                  			<li><a href="#"><i class="fa fa-twitter"></a></i></li>
                  			<li><a href="https://mail.google.com/mail/u/0/"><i class="fa fa-google-plus"></a></i></li>
                  		</ul>
                  	</div> 
                  </div>
                </div>
              </div>
            </div>  
        
        <!-- NAVBAR 
            =================-->
            <nav class="navbar navbar-expand-sm navbar-light" id="mainNav" data-toggle="affix">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{% url 'index'%}"><img src="{% static '/img/logo2.jpg'%}" alt="" height=80px width=100px class="img-fluid"></a>
                <button class="navbar-toggler navbar-toggler-center  ml-auto py-3 my-1 " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <a href="{% url 'index'%}" class='navbar-brand'>LiveCricket</a>
                  <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index'%}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:search'%}">Players</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:news'%}">News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:video'%}">Video</a>
                    </li>
                    
                   
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:teams'%}">teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cricketapp:upcoming'%}">Match Calendar</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:old_matches'%}">Match History</a>
                    </li>  
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:contact'%}">Give Feedback</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="photo.html">Photo</a>
                    </li>  -->
                    
                  </ul>
                </div>
              </div>
            </nav> 

        {% block body %}
        {% endblock %}
 
        <!-- FOOTER 
            =================-->
            <footer class="footer">
            	<div class="container">
            		<div class="row">
            			<div class="col-md-3">
            				<div class="team">
            					<h5>Teams</h5>
                                <div class="border-bot"></div>
            					<ul>
                          {% for i in recent %}
            						<li>
                          <a href="{% url 'cricketapp:teams'%}">{{i.name}}</a>

                      
                        </li>
                        {% endfor%}
            				
            					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="team">
            					<h5>Useful Links</h5>
            					<div class="border-bot"></div>
                                <ul>
            						<li><a href="{% url 'index'%}">Home</a></li>
            						<li><a href="{% url 'cricketapp:search'%}">Players</a></li>
            						
                        <li><a href=  "{% url 'cricketapp:news'%}">News</a></li>
                        <li><a href="{% url 'cricketapp:video'%}">Video</a></li>
            						<li><a href="{% url 'cricketapp:upcoming'%}">Match Calendar</a></li>
            						<li><a href="{% url 'cricketapp:contact'%}">Give Feedback</a></li>
            					
            					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="trend">
            					<h5>Today Trend</h5>
            					<div class="border-bot"></div>
                        <ul>
              						<li><a href="{% url 'cricketapp:news'%}">News</a></li>
              						<li><a href="{% url 'cricketapp:video'%}">Video</a></li>
              						
              					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="company-desc text-center">
            					<a href="index.html"><img src="{% static '/img/logo-big.png' %}" alt="" class="img-fluid"></a>
            					<ul>
            						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="https://mail.google.com/mail/u/0/"><i class="fa fa-google-plus"></i></a></li>
            					</ul>
            				</div>
            			</div>
            		</div>
            	</div>
            </footer>

  
    </body>
</html>