{% extends "base.html"%}
{% block body %}
{% load staticfiles %}
<style>

</style>
<div class="row">
    <div class='col-md-5 mx-auto my-3'>
        <h2>News</h2>
        <div style='height:2px;width:30%;background:#d81c00;'></div>
    </div>
</div>

 <div class="row" >
    <div class="col-md-12">
      <div class="card-columns" >
    {% for i in all %}
      <div class="card" style="margin:0px;padding:0px;">
        <div class="card-head">
          <img src="/media/{{i.cover}}" height="200px" width="100%" alt="">
        </div>
       <div class="card-body">
        <h4>{{i.title}}</h4>
        <p>{{i.content}}</p>
       </div>
      </div>
    {% endfor %}
  </div>
  </div>
 </div>
    
        
    {% endblock %} 