{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <div class='row' style="background:url('/static/img/team/cover2.jpg');background-size:cover;">
        <div class="col-md-12 py-5" style="background:rgba(0,0,0,0.5);height:200px;">
            <h2 class="text-center text-light">Match History</h2>
            <div style="height:2px;width:10%;background:#d81c00;margin-left:41%;" class=""></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="card-columns">
                {% for i in all %}
                    <div class="card shadow shadow-lg"> 
                        <div class="card-body">
                            <p><img src="/static/img/team/{{i.ic1}}" height="30" width="30"alt="">{{i.team1}}</p>
                            <hr/>
                            <p><img src="/static/img/team/{{i.ic2}}" height="30" width="30"alt="">{{i.team2}}</p>
                        
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}