{% extends "base.html" %}
{% load staticfiles%}
{% block head %}
<style>
.banner{
    background:url("{% static 'img/team/banner.jpg'%}");
    height:200px;background-size:100% 100%;
}
.img{margin-top:6%;}
.cricket-bg{
    background: #d81c00 !important;
    color:white;text-align:center;
    padding:10px;
    font-family: 'Gill Sans';
}
</style>
{% endblock %}
{% block body %}
<div class="container banner">
    <div class="row">
        <div class='col-md-3 text-center img'>
            <div class='rounded-circle' >
                <img src="{{info.imageURL}}" height='180' width='180' class='rounded-circle' style='border:2px solid #d81c00;padding:5px;'>
            </div>
        </div>
        <div class='col-md-9 img text-light'>
            <h1>{{info.name}}</h1>
            <p>({{info.currentAge}} old)</p>
        </div>
    </div>
</div>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-md-3 sticky-top'>
            <h4 class='color'>Personal Details</h4>
            <div style="height:2px; width:30%;background:#d81c00;"></div>
            <table class='table'>
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>{{info.fullName}}</td>
                    </tr>
                    <tr>
                        <th>Birth Details</th>
                        <td>{{info.born}}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{info.country}}</td>
                    </tr>
                    {% if info.playingRole %}
                    <tr>
                        <th>Playing Role</th>
                        <td>{{info.playingRole}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Batting Style</th>
                        <td>{{info.battingStyle}}</td>
                    </tr>
                    <tr>
                        <th>Bowling Style</th>
                        <td>{{info.bowlingStyle}}</td>
                    </tr>
                    {% if teams %}
                        <th>Major Teams</th>
                        <td>
                            <ol class='list-group'>
                            {% for i in teams %}
                                <li>{{i}}</li>
                            {% endfor %}
                            </ol>
                        </td>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class='col-md-9'>
            <!-- PROFILE -->
            {% if info.profile %}
            <section>
                <p class='cricket-bg mt-2'>About {{info.name}}</p>
                <div class='alert alert-nfo'>
                    <p>
                        {{info.profile}}
                    </p>
                </div>
            </section>
            {% endif %}
            <!-- BOWLING CAREER -->
            <section>
                <p class='cricket-bg'>Bowling Career</p>
                <div>
                    <table class='table table-striped table-hover table-sm'>
                        <thead>
                            <tr>
                                <th></th>
                                <th>10</th>
                                <th>5w</th>
                                <th>4w</th>
                                <th>SR</th>
                                <th>Econ</th>
                                <th>Ave</th>
                                <th>BBM</th>
                                <th>BBI</th>
                                <th>Wkts</th>
                                <th>Runs</th>
                                <th>Balls</th>
                                <th>Inns</th>
                                <th>Mat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if bowling.listA%}
                            <tr>
                                <td>listA</td> 
                                {% for k,v in bowling.listA.items %}
                                    <td>{{v}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if bowling.firstClass%}
                            <tr>
                                <td>firstClass</td> 
                                {% for k,v in bowling.firstClass.items %}
                                    <td>{{v}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if bowling.T20Is%}
                            <tr>
                                <td>T20Is</td> 
                                {% for k,v in bowling.T20Is.items %}
                                    <td>{{v}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if bowling.ODIs%}
                            <tr>
                                <td>ODIs</td> 
                                {% for k,v in bowling.ODIs.items %}
                                    <td>{{v}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if bowling.tests%}
                            <tr>
                                <td>tests</td> 
                                {% for k,v in bowling.tests.items %}
                                    <td>{{v}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                           
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- BATTING CAREER -->
            <section>
                <p class='cricket-bg'>Batting Career</p>
                <div>
                    <table class='table table-hover table-striped table-sm'>
                        <thead>
                            <tr>
                                <th></th>
                                <th>50</th>
                                <th>100</th>
                                <th>St</th>
                                <th>Ct</th>
                                <th>6s</th>
                                <th>4s</th>
                                <th>SR</th>
                                <th>BF</th>
                                <th>Ave</th>
                                <th>HS</th>
                                <th>Runs</th>
                                <th>NO</th>
                                <th>Inns</th>
                                <th>Mat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if batting.listA%}
                            <tr>
                                <td>list A</td>
                                {% for i,j in batting.listA.items %}
                                    <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if batting.firstClass%}
                            <tr>
                                <td>firstClass</td>
                                {% for i,j in batting.firstClass.items %}
                                    <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if batting.T20Is%}
                            <tr>
                                <td>T20Is</td>
                                {% for i,j in batting.T20Is.items %}
                                    <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if batting.ODIs%}
                            <tr>
                                <td>ODIs</td>
                                {% for i,j in batting.ODIs.items %}
                                    <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% if batting.tests%}
                            <tr>
                                <td>tests</td>
                                {% for i,j in batting.tests.items %}
                                    <td>{{j}}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                           
                        </tbody>
                    </table>
                </div>
            </section>
           
        </div>
    </div>
</div>
{% endblock %}