{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<style>
.cover{
    background: url("/static/img/team/cover22.jpg");
    background-size:100% 100%;
    height:450px;
}
.carousel-item{font-size:30px;text-align:center;height:200px;}
.crick-header{
    color:rgb(111, 194, 17) !important;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

</style>
{% endblock %}
{% block body %}
<form method="post">
    {% csrf_token %}
<div class="container-fluid">
    <div class="row cover">
        <div class="col-md-12 py-5" style="background:rgba(0,0,0,0.5)">
            <div class="row">
                <div class="col-md-6 p-5 mx-auto">
                    <div class="row">
                        <div class="col-md-8">
                            <div class='form-group'>
                                <input type="search" placeholder="Search For an Player... " id="player" class="form-control" style="height:50px;" name="name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-block text-light" style="background:#d81c00;height:50px;">Search</button>
                        </div>        
                    </div>
                </div>
            
            </div>
            <div class='row'>
                <div class='col-md-6 mx-auto' style='height:200px;'>
                    {% if total %}
                   
                    <h2 class="text-center crick-header alert alert-warning">{{total}}  <i class="fas fa-arrow-down"></i></h2>
                    {% endif %}
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div class="carousel-inner text-light">
                          <div class="carousel-item active">
                                Cricket is not everything, not by any means, but it is a large part of who I am <br/>
                                <ins class='float-right'>- MS Dhoni</ins>   
                          </div>
                          <div class="carousel-item">
                                        You can cut the tension with a cricket stump.
                                        <ins class='float-right'>- Murray Walker</ins>   
                          </div>
                          <div class="carousel-item">
                                        If you play good cricket, a lot of bad things get hidden. <br/>
                                    <ins class='float-right'>- Kapil Dev</ins>   
                            </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>                      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if data %}
            <div class='col-md-12 p-4'>
                <div class="card-columns">
                    {% for i in data %}
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{i.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Full Name</th>
                                            <td>{{i.fullName}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/cricketapp/player_profile/?id={{i.pid}}" class="btn btn-success btn-sm btn-block">View Profile <i class="fas fa-arrow-right"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
</form>
{% endblock %}