{% extends "base.html"%}
{% block body %}
{% load staticfiles %}
<div class="row">
    <div class='col-md-5 mx-auto my-3'>
        <h2>All Teams Details</h2>
        <div style='height:2px;width:30%;background:#d81c00;'></div>
       
</div>
  <div class='row' style="background:url('/static/img/slider/ball8.jpg');background-size:cover;">
    
    <div class="col-md-12">
      <div class="card-columns">
    {% for i in all %}
    
      <div class="card">

       <div class="card-body" >
        <h4>{{i.name}}</h4>
        <h5>{{i.captain}}</h6>
        <h6>{{i.coach}}</h6>
       </div>
      </div>
    
    {% endfor %}
  </div>
  </div>
 </div>
 </div>
 </div>
    
        
    {% endblock %} 