{% extends "base.html" %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid">
    <div class='row' style="background:url('/static/img/img1.jpg');background-size:cover;">
        <div class="col-md-12 py-4" style="background:rgba(0,0,0,0.5);height:100%;">
            <h2 class="text-center text-light">Match Videos</h2>
            <div class="row">
                <div class="col-md-6 " style="height:100%">
                             
    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LJ12EIe5iVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 " style="height:100%">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A-kbmFiCMUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <div class='row'>

            <div class="col-md-6 p-2" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4RmpQ1fPKh4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
        <div class="col-md-6 p-2" >
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PuIPSTeci7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    <div class="row">
            <div class="col-md-6 p-2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yXltnSTkiBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   </div>             
   
            <div class="col-md-6 p-2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CTYHIis7EsI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div></div>
<div class="row">

        <div class="col-md-6 p-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EJkNBr1gdjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          
            <div class="col-md-6 p-2">   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wTif2mDnE5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
</div>
    </div>
    </div>
</div>

{% endblock %}