.crick-header{
    color:#d81c00 !important;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cricket-bg{
    background: #d81c00 !important;
    color:white;text-align:center;
}